button {
    border: none;
    background-color: hsl(214, 51%, 55%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.delete-btn {
    background-color: brown;
}
#hamburger {
    color: black;
}
